/***SFONDI BACKGROUND***/

.bg-img-1{
    background-image: url('../img/jumbo-bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.bg-img-2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.my-s-bg-plus{
    background-color: #bebcbb;
    
}

.my-s-bg-now{
    background-color: #161c3b;
    
}

.my-bg-footer{
    background-color: #00439c;
}

/***BOTTONI***/

.btn-primary{
    border-radius: 25px;
}

.my-btn-orange{
    background-color: orange;
    border: 1px solid orange;
}

.my-btn-grey{
    background-color: #414141;
    border: 1px solid #414141;
}




.my-s-header-height{
    min-height: 80px;
}

.my-s-footer-height{
    min-height: 400px;
}
.my-s-height{
    height: 20px;
}

.my-s-logo-sony{
    height: 10px;
    float: right;
    margin-top: 5px;
}


.my-position-bottom{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* .container-fluid{
    padding: 0;

} */

.my-round-1{
    border-radius: 25px;
}

.my-round-2{
    border-radius: 15px;
}

.hvr-img:hover{
    cursor: pointer;
    border: 1px solid #00439c;
    border-radius: 25px;

}

.active{
    border-bottom: 2px solid #00439c;
}

.my-filter{
    filter: opacity(0.5);
}

.my-filter:hover{
    filter: opacity(1);
    cursor: pointer;
}

.footer-menu{
    list-style-type: none;
}

.footer-menu a{
    text-decoration: none;
    color: #fff

}

.foot-link{
    color: #fff;
}

.my-w-img{
    width: 200px;
}