/***** NAVBAR HOVER ******/
.navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0, 112, 209);
}
/***SFONDI BACKGROUND***/

.bg-img-1{
    background-image: url('../img/jumbo-bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.bg-img-2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.my-s-bg-plus{
    background-color: #bebcbb;
    
}

.my-s-bg-now{
    background-color: #161c3b;
    
}

.my-bg-footer{
    background-color: #00439c;
}


.my-s-header-height{
    min-height: 80px;
}

.my-s-footer-height{
    min-height: 400px;
}
.my-s-height{
    height: 20px;
}

.my-s-logo-sony{
    margin-top: 5px;
    height: 10px;
    float: right;
}


.my-position-bottom{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.my-s-b-height{
    height: 20px;
}

/***BOTTONI***/

.btn-primary{
    border-radius: 25px;
}

.my-btn-orange{
    background-color: orange;
    border: 1px solid orange;
}

.my-btn-grey{
    background-color: #414141;
    border: 1px solid #414141;
}

/****** BORDER-RADIUS *******/

.my-round-1{
    border-radius: 25px;
}

.my-round-2{
    border-radius: 15px;
}

/******* LISTA GIOCHI SOTTO JUMBO HOVER *******/
.hvr-img:hover{
    animation: up 0.2s 0.2s;
}

@keyframes up{
    0%, 100%{
        transform: translatey(0px);}

    50%{
        transform: translatey(-10px);}
}

/***** FINTI ACTIVE *****/

.active-2{
    cursor: pointer;
    border: 1px solid #00439c;
    border-radius: 20px;
}

.active{
    
    border-bottom: 2px solid #00439c;
}

/**** FILTRI ****/

.my-filter{
    filter: opacity(0.5);
}

.my-filter:hover{
    filter: opacity(1);
    cursor: pointer;
}


/****** FOOTER ********/

.footer-menu{
    list-style-type: none;
}

.footer-menu a{
    text-decoration: none;
    color: #fff

}

.foot-link{
    color: #fff;
}

.my-w-img{
    width: 200px;
}

.cursor-mod{
    cursor: pointer;

}